<!DOCTYPE HTML>
<html>

<head>
    <title>Add Question</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Augment Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
  

   
    @Scripts.Render("~/Scripts/jquery-1.10.2.min.js")
    @Scripts.Render("~/Scripts/jquery-1.10.2.js")
    @Scripts.Render("~/Scripts/bootstrap.min.js")
    @Scripts.Render("~/Scripts/General-Script.js")
    @Styles.Render("~/Styles/General-Style.css")
    @Styles.Render("~/Styles/bootstrap.css")

    @Scripts.Render("~/Scripts/All-Script.js")


</head>
<body>

    <!--//outer-wp-->
    <div class="outter-wp">
        <!--/sub-heard-part-->
        <div class="sub-heard-part">
            <ol class="breadcrumb m-b-0">
                <li><a href="index.html">Home</a></li>
                <li class="active">Add Question</li>
            </ol>
        </div>
        <!--/sub-heard-part-->
        <!--/forms-->
        <div class="forms-main">
            <h2 class="inner-tittle">Add Question</h2>
            <div class="graph-form">
                <div class="validation-form">
                    <!---->

                  

                        <div class="col-md-12 form-group1 ">
                            <label class="control-label">Question</label>
                            <textarea id="qt" placeholder ="Question Text..." required=""></textarea>
                        </div>
                        <div class="clearfix"> </div>
                        <br>

                        <div class="vali-form vali-form1">

                            <div class="col-md-3 form-group2 group-mail">
                                <label class="control-label">Thinking skills</label>
                                <select id="TS">
                                    <option value="">Writing</option>
                                    <option value="">Reading</option>
                                    <option value="">Critical Thiking</option>
                                    <option value="">Designing</option>
                                </select>
                            </div>

                            <div class="col-md-3 form-group1">
                                <label class="control-label">Time minutes</label>
                                <input type="text" id="ET" placeholder="between 3-15" required="">
                            </div>


                            <div class="col-md-3 form-group2 group-mail">
                                <label class="control-label">Difficulty</label>
                                <select id="DY">
                                    <option value="">1</option>
                                    <option value="">2</option>
                                    <option value="">3</option>
                                    <option value="">4</option>
                                    <option value="">5</option>
                                </select>
                            </div>

                            <div class="col-md-3 form-group1">
                                <label class="control-label">Mark</label>
                                <input type="text" id="mk" placeholder="between 1-5" required="">
                            </div>
                            <div class="clearfix"> </div>
                        </div>



                        <div class="col-md-12 form-group1 group-mail">
                            <label class="control-label">Answers</label>
                            <input type="text" id="t-ans" placeholder="True Answer" required="">
                        </div>
                        <div class="clearfix"> </div>

                        <div class="col-md-12 form-group1 group-mail">
                            <input type="text" id="ans1" placeholder="Answer 1" required="">
                        </div>
                        <div class="clearfix"> </div>

                        <div class="col-md-12 form-group1 group-mail">
                            <input type="text" id="ans2" placeholder="Answer 2" required="">
                        </div>
                        <div class="clearfix"> </div>

                        <div class="col-md-12 form-group1 group-mail">
                            <input type="text" id="ans3" placeholder="Answer 3" required="">
                        </div>
                   


                        <div id="divErrorText"></div>
                        <div class="col-md-12 form-group button-2">
                            <button  id="BtnSave" class="btn btn-primary">Submit</button>
                            <button type="reset" class="btn btn-default">Reset</button>
                        </div>
                        <div class="clearfix"> </div>

                    <div id="successText" class="alert alert-success " >
                        <button onclick="Close_Alert_Div()" type="button" class="close" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <strong>Success!</strong> .
                        
                    </div>

                    <div id="errortxt" class="alert alert-danger " >
                        <strong>Danger!</strong> This alert box could indicate a dangerous or potentially negative action.
                        <button type="button" class="close" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <!---->
                </div>

            </div>
        </div>
        <!--//forms-->
    </div>
    <!--//outer-wp-->
    <!--js -->
    <script src="js/jquery.nicescroll.js"></script>
    <script src="js/scripts.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
</body>
</html>