
@{
    ViewBag.Title = "Home-Page";
}

@Scripts.Render("~/Scripts/jquery-1.10.2.js")
@Scripts.Render("~/Scripts/bootstrap.min.js")
@Scripts.Render("~/Scripts/jquery-1.10.2.min")
@Scripts.Render("~/Scripts/Exam_script.js")

@Styles.Render("~/Styles/style.css")
@Styles.Render("~/Styles/bootstrap.css")

<!DOCTYPE html>

<html>
<head>
	<title>Exam_instructions</title>
			<meta http-equiv="X-UA-Compatible" content="IE-edge">
			<meta name="viewport" content="width = device-width ,initial-scale = 1">
			<meta name="author" content="Seif">
			<meta charset="utf-8">
			<meta name="describtion" content="Examination Page">
			<style >
				.jumbotron { 
					background-color: lightgray;
 				}
			</style>
			
			
			

	</head>
	<body >

		<div class="bg" >

		<div class="row head"> 

			<div class="user-sec col-lg-2 ">
				<img id="avatar"  src="~/img/avatar.png">
				
				<span id="spanUsername"> Username </span>
			</div>


			<div class="col-lg-3 col-lg-offset-3">
				
				<img id="glPic" src="~/img/gl.png">
			</div>


			<div class="col-lg-2 col-lg-offset-2">				
				<img id="logo" src="~/img/OES_Logo.png"></h2>
			</div>
				
		</div> <!-- end of my header -->

		<div class="row">

			<div class="Questions col-lg-2">
				<div class="row">
				
				

		

				</div>
			</div> <!-- end of my side bar -->
			
			<div class="Exam jumbotron  col-lg-6">
					<div style="margin: 10px; margin-bottom: 30px;">
						
					<p >*Dont Refresh the page </p>
                    <p >*for every question time </p>
					</div>
					<div class="text-center">
					<input style="" class="btn btn-success"  id="start_exam" value="Start Exam">
					</div>
					
			</div>
			

			

		

		

	</body>
</html>
<script>

    $.ajax({
        method: 'Get',
        url: 'http://localhost:2199/api/Authintecation/STD_Auth',
        contentType: "application/json",
        headers: { 'Authorization': 'Bearer ' + sessionStorage.getItem('accessToken') },
        success: function (data) {

        },
        error: function (jqXHR) {

            window.alert("Pleas Login To continue")
            window.location = "http://localhost:46253/";


        },

    });
    $(document).ready(function () {
        document.getElementById('spanUsername').innerHTML = '  hello,' + localStorage.getItem('UserName');
        $('#start_exam').click(function () {

           
            window.location = 'http://localhost:46253/Exam/Exam_Page';
           

        })
    })
</script>



                   
                   